@font-face {
  font-family: "iconfont"; /* Project id 2884843 */
  src: url('//at.alicdn.com/t/font_2884843_v8ijnwcmm0m.woff2?t=1634866441399') format('woff2'),
       url('//at.alicdn.com/t/font_2884843_v8ijnwcmm0m.woff?t=1634866441399') format('woff'),
       url('//at.alicdn.com/t/font_2884843_v8ijnwcmm0m.ttf?t=1634866441399') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}
